<div class="container">
  <div class="row col-md-7">
    <div id="wrapper">
      <div class="row">
        <div id="task_form"></div>
      </div>
      <div id="tasks"></div>
    </div>
  </div>
</div>