<div class="container">
  <h2>To-Do App</h2>
  <div class="row col-md-8 col-xs-12">
    <div id="wrapper">
      <div class="row">
        <div id="task_form"></div>
      </div>
      <div id="tasks"></div>
    </div>
  </div>
</div>
