<div class="form-group col-md-10">
  <input type="text" class="form-control" name="task[description]" id="description_input" autofocus/>
</div>
<button class="btn btn-primary" id="add_task">Submit</button>
