<div class="col-md-1">
  <input type="checkbox" data-id="<%= task.id %>"
    <% if (task.get("complete")){ %>
      <%= "checked" %>
    <% }; %>
  />
</div>
<div class="col-md-9">
  <span
    <% if (task.get("complete")){ %>
      class="complete description"
    <% }else { %>
      class="description"
    <% }; %> >
  <%= task.escape("description") %>
  </span>
</div>
<div class="col-md-2">
  <span class="delete_task close" data-id="<%= task.id %>">&times;</span>
</div>
