/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.complete{
  text-decoration: line-through;
  color: #6D3DAA;
}

#tasks{
  height: 300px;
  overflow: scroll;
  padding-bottom: 10px;
}

.task{
  border-bottom: 1px solid #e63531;
  padding-bottom: 5px;
}

#wrapper{
  border: 1px solid #e2e2e2;
  margin: 50px auto;
  -moz-box-shadow: 0 0 6px 1px #bbb;
  -webkit-box-shadow: 0 0 6px 1px #bbb;
  box-shadow: 0 0 6px 1px #bbb;
  padding: 30px 30px 0px 30px;
  border-radius: 5px;
}